.container {
    position: relative;
    border: 3px solid #333;
    background-color: #09f9dd;
    display: flex;
}

.container_item {
    width: 150px;
    margin: 10px;
    background-color: #dfdfdf;
    border: 3px solid #333;
    text-align: center;
    color: #333;
}

.item-1 {
    min-height: 50px;
}
.item-2 {
    min-height: 100px;
}
.item-3 {
    min-height: 200px;
}